* {
  font-family: "Montserrat";
}

a {
  font-family: Roboto Mono;
}

li {
  margin: .5rem;
}

html {
  margin-top: 3rem;
}

main,
body,
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-width: 90%;
  max-width: 95%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 90%;
  margin-bottom: .8rem;
}

#about-projects-bio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  ;
  justify-content: center;
  min-width: 100%;
}

#about-projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin: 1rem;
  margin-top: -1rem;
}

#bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#tecsondev {
  margin-top: .9rem;
}

#email {
  margin-top: -1rem;
}

#skills {
  margin-top: .8rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}