body {
  border-width: 4px;
  border-style: double;
  border-color: black;
  width: 700px;
  margin-top: 50px
}

html, body, #container, #word-container, #translate-container, #translate, #word, #notes, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%
}

html {
  margin: auto;
  min-width: 300px;
}

#word-container, #translate-container {
  padding: 30px;
}

#components {
  display: flex;
  display: row;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

#word, #translate {
  width: 150px;
  height: 50px;
  margin-bottom: 20px;
}

#notes, #description {
  max-width: 500px;
  text-align: center;
}

#copr, #alaala, #description {
  margin-top: -10px;
}